<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <link href="styles.css" rel="stylesheet" type="text/css"/>
        <script src="/app.js"></script>

    </head>


    
    <body>       
        <canvas id="myCanvas" width="800" height="600" Style="border:1px solid #000000"></canvas>     
    </body>
</html>
