<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <body>
      <script src="js/registro.js"></script> 
    <div id="content">
     
    </div>
   
    <nav id="bar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Barra de Navegacion</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../home" th:href="@{/}">Make-Colaborative</a>
             
          </div>
       
          
          <div  class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-right">
              <li><a href="../home" th:href="@{/}">Sing Out</a></li>
             
            </ul>
          </div>
            
        </div>
      </nav>
  </body>
</html>