<html>
  <head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <title>Make-Colaborative</title>

    <!-- Bootstrap -->
    <link href="../../../webapp/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../../webapp/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../../../webapp/css/sticky-footer-navbar.css" th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>
  	<div th:replace="userbars/userbar :: #bar">userbar</div>
    <div class="container"><div class="jumbotron"><h1>Bienvenido a su entorno!</h1>
		
                <a href="../userwork.html" th:href="@{/userwork}">ingresar a diseñar</a>
    </div></div>
	<div th:replace="footers/footer :: #footer">footer</div>
    <!-- jQuery (necesario para los plugins Bootstrap's JavaScript ) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>